<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If an existing asset or directory is requested, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Otherwise rewrite to index.html
  RewriteRule ^ index.html [L]
</IfModule>

# Disable MultiViews to prevent Apache from trying to guess file extensions
<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>
